* {
    user-select: none;
    -webkit-user-select: none;
    caret-color: transparent;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
main {
    height: 100%;
    width: 50%;
    border: 10px solid var(--main-border);
    box-sizing: border-box;
    display: block;
}
:root.light {
    --main-border: grey;
    --btn-border: black;
    --options-bg: rgba(211, 211, 211, 0.438);
    --btn-clr: whitesmoke;
    --btn-hov1: lightgray;
    --btn-hov2: skyblue;
    --num-clr: black;
    --num-hov: black;
    --sign-clr: black;
    --sign-hov: black;
    --display: rgba(0, 0, 255, 0.151);
    --text-shadow: none;
    --box-shadow: none;
}
:root.dark {
    --main-border: black;
    --btn-border: black;
    --options-bg: rgba(255, 255, 255, 0.781);
    --btn-clr: rgb(78, 78, 78);
    --btn-hov1: whitesmoke;
    --btn-hov2: blue;
    --num-clr: white;
    --num-hov: black;
    --sign-clr: lightgreen;
    --sign-hov: white;
    --display: rgba(21, 255, 0, 0.151);
    --text-shadow: none;
    --box-shadow: none;
}
:root.neon {
    --main-border: purple;
    --btn-border: rgba(250, 100, 255, 1);
    --options-bg: rgba(185, 94, 245, 0.822);
    --btn-clr: black;
    --btn-hov1: rgb(221, 25, 228);
    --btn-hov2: greenyellow;
    --num-clr: rgba(83, 250, 6, 1);
    --num-hov: skyblue;
    --sign-clr: rgba(250, 100, 255, 1);
    --sign-hov: black;
    --display: skyblue;
    --text-shadow: 0px 10px 10px var(--num-hov),0px -10px 10px var(--num-hov), 10px 0px 10px var(--num-hov), -10px 0px 10px var(--num-hov),0px 20px 10px var(--num-hov),0px -20px 10px var(--num-hov), 20px 0px 10px var(--num-hov), -20px 0px 10px var(--num-hov);
    --box-shadow: 5px 5px 20px var(--num-hov) inset , -5px -5px 20px var(--num-hov) inset, 10px 10px 20px var(--num-hov), -10px -10px 20px var(--num-hov);
}
#display {
    background-color: var(--display);
    border: 5px inset var(--main-border);
    height: 27%;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow-wrap: anywhere;
    overflow: auto;
}
#calculator {
    height: auto;
    font-size: 2.2em;
    margin: 15px 0 0 10px;
    
}
#result {
    height: auto;
    color: gray;
    font-size: 2em;
    margin: 0 0 0 10px;
}

@media (hover: hover){ /* for Desktop */
    #options button:hover {
        color: white;
        background-color: var(--main-border);
}
}
#options button:active { /* for Mobiles and Tablets */
    color: white;
    background-color: var(--main-border);
}
#buttons {
    height: 72%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr 4fr;
}
#options {
    width: 100%;
    height: fit-content;
    padding: 2px 0px;
    background-color: var(--main-border);
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    grid-row: 1/2;
}
#options div {
    height: fit-content;
}
#options button {
    border: none;
    background-color: var(--options-bg);
    font-size: 1.4em;
    border-radius:  3px;
}
#options button.selected {
    color: white;
    border: 1px solid white;
    background-color: var(--main-border);
}
#history {
    align-self: end;
}
#up {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;

}
#up button {
    width: 25%;
    color: var(--sign-clr);
}
#right {
    grid-column: 2/3;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
}
#right button {
    height: 20%;
    color: var(--sign-clr);
}
#center {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#center button {
    width: 33.333%;
    height: 25%;
    color: var(--num-clr);
}
@media (hover: hover){ /* for Desktop */
    #up button:hover {
    background-color: var(--btn-hov1);
    color: var(--num-hov);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    z-index: 2;
    }
    #right button:hover {
        background-color: var(--btn-hov2);
        color: var(--sign-hov);
        text-shadow: var(--text-shadow);
        box-shadow: var(--box-shadow);
        z-index: 2;
    }
    #center button:hover {
        background-color: var(--btn-hov1);
        color: var(--num-hov);
        text-shadow: var(--text-shadow);
        box-shadow: var(--box-shadow);
        z-index: 2;
    }
}
#up button:active { /* for Mobiles and Tablets */
    background-color: var(--btn-hov1);
    color: var(--num-hov);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    z-index: 2;
}
#right button:active {
    background-color: var(--btn-hov2);
    color: var(--sign-hov);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    z-index: 2;
}
#center button:active {
    background-color: var(--btn-hov1);
    color: var(--num-hov);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    z-index: 2;
}
#up button , #right button , #center button {
    font-size: 2em;
    background-color: var(--btn-clr);
    border: 1px solid var(--btn-border);
    border-bottom: none;
    border-right: none;
}
.backHid {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
}
.hisPage {
    background-image: linear-gradient(var(--display) , var(--btn-clr));
    border: 3px solid white;
    border-radius: 25px;
    position: fixed;
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 10;
    overflow: auto;
}
.hisDelete {
    background-color: tomato;
    width: 50%;
    font-size: 2em;
    border-radius: 5px;
}
.list {
    font-size: 3em;
    color: var(--num-clr);
    list-style: square;
    line-height: 1.6em;
}









@media only screen and (max-height: 800px){
        main {
        width: 75%;
    }
}
@media only screen and (max-height: 550px){
        main {
        width: 100%;
    }
}
@media only screen and (max-width: 1033px) and (min-height: 550px){
    main {
        width: 75%;
    }
}
@media only screen and (max-width: 920px){
    main {
        width: 100%;
    }
    .hisDelete {
    width: 70%;
    }
}
@media only screen and (max-width: 650px){
    .list {
        font-size: 2.5em;
    }
}
@media only screen and (max-width: 550px){
    .list {
        font-size: 2em;
    }
    .hisDelete {
        font-size: 1.7em;
        width: 90%;
    }
}
@media only screen and (max-width: 380px){
    .list {
        font-size: 1.5em;
    }
    #options button {
        font-size: 1.2em;
    }
}
